.menuItem {
    border: solid 0.3px #000;
    border-radius: 5px;
    padding: 16px;
    &__header {
        font-size: 12px;
        font-weight: bold;
    }
    &__header-item {
        margin-left: 10px;
    }
    &__body {
        display: flex;
        align-items: center;
    }
    &__form {
        display: flex;
    }
    &__card {
        display: flex;
    }
    &__control-wrapper {
        padding: 8px;
        display: flex;
        align-items: center;
    }
    &__control {
        &[type="text"] {
            height: 34px;
        }
    }
    &__action {
        &:hover{
            cursor: pointer;
        }
    }
    &__selected-node{
        background-color: rgba(189, 216, 236, 0.533);
    }
}
