<div>
    <p-menubar [model]="items"></p-menubar>
    {{selected?.viewMode}}

    <p-tree [value]="menuData" 
            [selectionMode]="'single'" 
            (onNodeSelect)="onNodeSelect($event)"
            [filter]="true"
            [draggableNodes]="true" [droppableNodes]="true" draggableScope="self" droppableScope="self"
            >  
         <ng-template let-node pTemplate="default">
            <app-menu-item-form 
                [allowEdit]="selected && selected.viewMode === 'view'"
                [isSelected]="selected && selected.id === node.id" [node]="node"
                (eventEditSubmit)="editNode($event)">
            </app-menu-item-form>

        </ng-template>
    </p-tree>
</div>
<p>=============================================================================</p>
<div *ngFor="let item of menuData">
    <p>"name": {{item.name}} "route": {{item.route}}</p>
    <div *ngFor="let ch of item.children">
        <p>{{ch.serialize() | json}}</p>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
